/*navbar*/
header{
    display: flex;
    flex-direction: row;
    padding: 5px;
    box-shadow: 0px 0px 10px 10px #00000025;
    position: fixed;
    z-index: 2;
    background-color: #FFF;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #6D28D9;
    padding: 8px 15px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.4s;
}

nav a:hover{
    color: palevioletred;
    transition: 0.4s;
}

/*Slider text*/
.slider-introduction-text{
    position: absolute;
    top: 160px;
    right: 120px;
    color: #FFF;
    text-shadow: 0px 0px 2px black;
    z-index: 1;
}

.slider-introduction-text h1{
    font-size: 50px;
}

.slider-introduction-text ul{
    list-style:inside;
}

.slider-introduction-text ul li{
    padding: 10px;
    font-size: 22px;
}

.slider-introduction-text button{
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    color: #6D28D9;
    background-color: #b7ff00;
    cursor: pointer;
}

/*css slider*/
.slider{
    height: 630px;
    overflow: hidden;
}

.slides{
    width: 200%;
    height: 650px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 50%;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 668px;
    filter : brightness(0.6);
    object-fit: cover;
}

/*css for manual slide navigation*/

.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: chartreuse;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -50%;
}

/*css for automatic navigation*/

.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 629px;
}

.navigation-auto div{
    position: absolute;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:ch){
    margin-left: 53px;
}

/*css sections*/
section{
    padding: 60px 30px;
}

.introduction{
    display: flex;
    flex-direction: row;
}

.introduction img{
    height: 556px;
    width: 518px;
    object-fit: cover;
}

.introduction button{
    padding: 10px 20px;
    width: 310px;
    text-transform: uppercase;
    background-color: #b7ff00;
    border: none;
    font-size: 20px;
    color: #6D28D9;
    font-weight: 700;
    margin-top: 30px;
    cursor: pointer;
}

.title{
    margin-bottom: 30px;
}

.element-populated h1{
    text-transform: uppercase;
    font-size: 48px;
    color: #6D28D9;
    line-height: 50px;
    font-family: 'Righteous', cursive;
    text-align: left;
}

.text p{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
}

.section-title h2{
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    padding: 0 30px;
    color: #6D28D9;
    font-size: 2rem;
}

/*Nossos ciclos*/
.ciclos, .anos-escolares{
    display: flex;
    justify-content: space-between;
}

.anos-escolares-img{
    width: 386px;
    height: 386px;
    object-fit: cover;
}

.ciclos-bloco h2, .ciclos-bloco p{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    color: #6D28D9;
    font-weight: 700;
}

.ciclos-bloco p{
    font-size: 16px;
    font-weight: 400;
}

.ciclos-bloco{
    padding: 0 15px;
}

.ciclos-bloco .orange{
    color: #F47A14;
}

.ciclo-button button{
    background-color: plum;
}

/*Formulario*/
.form{
    background-color: #b8ff01;
    display: flex;
    flex-direction: column;
    padding: 50px 200px;
}

#title-form, #p-form, .form input{
    font-family: 'Poppins';
    color: #6d28d9;
}

#title-form{
    font-size: 38px;
}

.form input{
    margin: 10px 0;
    height: 40px;
    font-size: 18px;
}

#btn-form{
    height: 40px;
    background-color: #6d28d9;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
}

.form div{
    display: flex;
    align-items: center;
    margin: 15px 0;
}

/*css footer*/
footer{
    background-color: #6D28D9;
    align-items: flex-start;
    font-family: "Poppins";
    padding: 20px 20px 0 20px;
    color: #FFF;
}

.footer-container{
    margin-top: 10px;
    width: 100%;
    display: flex;
    margin: 20px;
    justify-content: flex-start;
}

.container-footer-links ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container-footer-links a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-right: 10px;
    color: #FFF;
}

.copyright{
    text-align: center;
    padding-bottom: 10px;
}

/*.redes-sociais img{
    width: 32px;
    height: 32px;
}*/