:root{
    --primary-color: #FFF;
    --secondary-color: #6D28D9;
    --third-color: #b7ff00;
    --additional-color: #367334;
}

@keyframes showSidebar {
    from{margin-right: -100vw}
    to{margin-right: -10vw}
}

html{
    font-family: 'Montserrat', sans-serif;
}

/*navbar*/
header, nav{
    display: flex;
    flex-direction: row;
}

header{
    padding: .5rem 1.2rem;
    box-shadow: 0px 0px 10px 10px #00000025;
    position: fixed;
    z-index: 2;
    background-color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

nav{
    animation-name: showsidebar;
    animation-duration: 1s;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondary-color);
    padding: .6rem .8rem;
    font-weight: bold;
    font-size: .9rem;
    transition: 0.8s;
}

nav a:hover{
    color: palevioletred;
    transition: 0.8s;
}

.navbar-btn, .navbar-close-btn{
    display: none;
    cursor: pointer;
}

/*Slider text*/
.slider-introduction-text{
    position: absolute;
    top: 11.5rem;
    right: 8rem;
    color: var(--primary-color);
    text-transform: uppercase;
    text-shadow: 0px 0px 4px black;
    z-index: 1;
    font-size: 18px;
}

.slider-introduction-text h1{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 10px;
}

.slider-introduction-text ul{
    list-style:inside;
}

.slider-introduction-text ul li{
    padding: 10px 0;
}

.slider-introduction-text button{
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    color: var(--secondary-color);
    background-color: var(--third-color);
    cursor: pointer;
    padding: 5px;
}

/*css slider*/
.slider{
    height: 630px;
    overflow: hidden;
}

.slides{
    width: 200%;
    height: 650px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 50%;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 668px;
    filter : brightness(0.6);
    object-fit: cover;
}

/*css for manual slide navigation*/
.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: chartreuse;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -50%;
}

/*css for automatic navigation*/
.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 629px;
}

.navigation-auto div{
    position: absolute;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:ch){
    margin-left: 53px;
}

/*css sections*/
section{
    padding: 1.5rem;
    justify-content: space-between;
}

.introduction{
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
}

.element-populated{
    max-width: 50vw;
}

.element-populated h1{
    text-transform: uppercase;
    font-size: 35px;
    color: var(--secondary-color);
    line-height: 35px;
    font-family: 'Righteous', cursive;
    text-align: left;
}

.text p{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.introduction button{
    padding: 10px 20px;
    width: 310px;
    text-transform: uppercase;
    background-color: var(--third-color);
    border: none;
    font-size: 20px;
    color: var(--secondary-color);
    font-weight: 700;
    margin-top: 30px;
    cursor: pointer;
}

.introduction img{
    height: 40vw;
    width: 40vw;
    object-fit: cover;
}

/*Nossos ciclos*/
.title{
    margin-left: 5px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    color: #6D28D9;
    font-weight: 700;
}

.ciclos{
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    align-items: center;
    justify-content: center;

}

.ciclos-bloco h2, .ciclos-bloco p{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    color: var(--secondary-color);
    font-weight: 700;
}

.ciclos-bloco p{
    font-size: 16px;
    font-weight: 400;
}

.ciclos-bloco .orange{
    color: #F47A14;
}

.ciclos-bloco{
    cursor: pointer;
    margin: 0 2rem;
}

.ciclo-button button{
    background-color: plum;
    position: absolute;
    margin-top: -8vw;
    border: none;
    background-color: var(--secondary-color);
    color: var(--third-color);
    font-size: 1rem;
    font-weight: bold;
    padding: 5px;
}

.anos-escolares-img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

/*Formulario*/
.section-form{
    background-color: var(--third-color);
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.form{
    background-color: #b8ff01;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-form, #p-form, .form input{
    font-family: 'Poppins';
    color: #6d28d9;
}

#title-form{
    font-size: 38px;
}

.form input, .form-select{
    margin: 10px 0;
    height: 40px;
    font-size: 18px;
    outline: none;
    max-width: 600px;
    width: 80%;
}

#btn-form{
    height: 40px;
    background-color: var(--secondary-color);
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    width: 300px;
}

.form div{
    display: flex;
    align-items: center;
    margin: 15px 0;
    max-width: 600px;
}

/*css footer*/
footer{
    background-color: var(--secondary-color);
    align-items: flex-start;
    font-family: "Poppins";
    padding: 20px 20px 0 20px;
    color: #FFF;
}

.footer-container{
    margin-top: 10px;
    width: 100%;
    display: flex;
    margin: 20px;
    justify-content: flex-start;
}

.container-footer-links ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container-footer-links a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-right: 10px;
    color: #FFF;
}

.copyright{
    text-align: center;
    padding-bottom: 10px;
}

/*.redes-sociais img{
    width: 32px;
    height: 32px;
}*/

@media screen and (max-width: 870px) {
    .introduction img{
        display: none;
    }

    .element-populated{
        max-width: 100%;
    }

    .navbar-btn, .navbar-close-btn{
        display: block;
    }

    nav{
        align-items: center;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        background-color: var(--primary-color);
        height: 100vh;
        width: 250px;
        box-shadow: 0px 0px 10px 10px #00000025;
        margin-right: -100vw;
        animation-name: showsidebar;
        animation-duration: 1s;
    }

    .navbar-close-btn{
        margin: 16px 0;
    }

    .slider-introduction-text{
        left: 8vw;
        right: auto;
    }

    nav a{
        font-size: 1.2rem;
        padding: 15px 12px;
    }

    .ciclos{
        flex-direction: column;
    }
}